<!doctype HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>BST with D3</title>
    </head>
    <body>
        <h1>BST Fun</h1>
        <p>Because nothing says fun like the word fun.</p>
    </body>
</html>